<div class="text_center">
  <h1>Log In:</h1>
  <form action="/sessions/create">
    <div>
      <label for="student_id">Student I.D.</label><br/>
      <input id="student_id" name="student_id" type="text" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="password">Password</label><br/>
      <input id="password" name="password" type="password" aria-describedby="basic-addon1"/>
    </div>
    <br>
    <input type = "submit"/>
  </form>
</div>