<div class="text_center">

  <h1>Create An Account</h1>

  <form action="/create_user">
    <div>
      <label for="name">Full Name</label><br />
      <input id="name" name="name" type="text" />
    </div>
    <div>
      <label for="email">Email Address</label><br />
      <input id="email" name="email" type="text" />
    </div>
    <div>
      <label for="grade">Grade Level</label><br />
      <div id="block_center" class="input-group">
        <input type="radio" name="grade" value="9">&nbsp;<span id="hide">0</span>9
        <br>
        <input type="radio" name="grade" value="10">&nbsp;10
        <br>
        <input type="radio" name="grade" value="11">&nbsp;11
        <br>
        <input type="radio" name="grade" value="12">&nbsp;12
        <br>
      </div>
    </div>
    <div>
      <label for="student_id">Student I.D.</label><br />
      <input id="student_id" name="student_id" type="text" />
    </div>
    <div>
      <label for="student_id_confirmation">Student I.D. Confirmation</label><br />
      <input id="student_id_confirmation" name="student_id_confirmation" type="text" />
    </div>
    <div>
      <label for="password">Password</label><br />
      <input id="password" name="password" type="password" />
    </div>
    <div>
      <label for="password_confirmation">Confirm Password</label><br />
      <input id="password_confirmation" name="password_confirmation" type="password" />
    </div>
    <div>
      <br>
      <input type="submit">
    </div>
  </form>

</div>