<div class="container">
  <h1>About Us</h1>
  <p>Interact is a service club under the branch of Rotary, an international organization.</p>
  <h3>What makes Interact stand out?</h3>
  <p>There are multiple leadership opportunities, including International Project Committee and Community Projects Committee. You can check the links in the menu for more information.
The bonds formed between members both within the school and from other schools are evident, and every person in Interact is open and friendly to anyone.
We support a different cause every year (our international project), and the district always chooses a solution that is sustainable, to ensure that we are not just throwing money at an issue.</p>
  <h3>Monta Vista Specific Information</h3>
  <p>Membership is open to anyone! To be considered an active member, you need a total of 16 hours by the end of the year.
The only thing required to volunteer is to wear this year's Interact shirt ($12). To sign up for events, register for an account on this website!
We have meetings every other Friday at Lunch in room C103, Mrs. Corso's (our advisor's) room. You will have the opportunity to be updated on events, buy an Interact t-shirt (costs $12, and is required to volunteer!), and ask us any questions you may have!</p>
  <h3>Strikes</h3>
  <p>For every 3 strikes that you get, you lose an hour.
Not wearing this year's interact shirt to an event, being 30 or minutes late to an event, or cancelling less than 48 hours in advance of an event all result in one strike. (To cancel an event email mvistainteract@gmail.com).
    Not going to an event at all without any notice will result in two strikes.</p>
  <h3>What kinds of volunteer events do we offer?</h3>
  <p>A few examples include: helping out at local festivals and school (Monta Vista, Kennedy, Lincoln) events, Stanford concessions, helping out at marathons and runs, and tree planting.</p>
</div>