<div class="container">
  <h2>Contact Us!</h2>
  <p>To be added to the mailing list or to ask any additional questions, just shoot us an email at mvistainteract@gmail.com
    Visit our <a href="href=https://www.facebook.com/groups/150512414981446/">Facebook page</a> for more information.</p>
</div>