<div class="container">
  <h2>Contact Us!</h2>
  <p>To be added to the mailing list or to ask any additional questions, just shoot us an email at mvistainteract@gmail.com
    Visit our Facebook page for more information.</p>
</div>