<div class="container">
  <h1>Community Project Committee</h1>
  <p>CPC runs local events to raise awareness for various causes. Some include the 30 hour famine and Letters to Santa, along with other events that raise money for the community and raise awareness for causes. The money raised goes to various organizations around the world.<br><br>This year's annual Community Project for District 5170 is "Under One Roof." We will be raising 90,000 community service hours towards helping the homeless and welcoming them into the community rather than excluding them.<br><br>Visit our <a href="https://www.facebook.com/groups/150512414981446/">Facebook page</a> for more information.</p>
</div>