<div class="container">
  <h1>Community Project Committee</h1>
  <p>CPC runs local events to raise awareness for various causes. Some include the 30 hour famine and Letters to Santa, along with other events that raise money for the community and raise awareness for causes. The money raised goes to various organizations around the world.
    <br><br>This year's annual Community and International Project for District 5170 is the "Right to Thrive". Together we will raise $100,000 and contribute 75,000 service hours to help marginalized communities like those of Burkina Faso.
    <br><br>Check out this amazing <a href="https://www.youtube.com/watch?v=cPdyn8zTSTs&feature=youtu.be">video</a> for more information.</p>
</div>
