<div class="container">
  <h1>Community Projects Committee</h1>
  <p>This year's Community Projects Committee is led by Joyce Shiah.</p><br>CPC runs local events to raise awareness for various causes. Some include the 30 hour famine and
  Letters to Santa, along with other events that raise money for the community and raise awareness
  for causes. The money raised goes to various organizations around the world.
  <p>Visit our <a href="https://www.facebook.com/groups/150512414981446/">Facebook page</a> for more information.</p>
</div>