<div class="container">
  <h1>Community Project Committee</h1>
  <p>CPC runs local events to raise awareness for various causes. Some include the 30 hour famine and Letters to Santa, along with other events that raise money for the community and raise awareness for causes. The money raised goes to various organizations around the world.
    <br><br>This year's annual Community Project will be announced at the Fall Leadership Conference!
    <br><br>Visit our <a href="http://www.interact5170.org/circle-of-love/">District page</a> for more information.</p>
</div>
