<div class="jumbotron">
  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Welcome!</h1>
    <p class="jumbotron-text">Come learn more about our club.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Take a look »</a></p>
  </div>

  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Club Updates:</h1>
    <h3 class="jumbotron-text">2016-17 Community Project</h3>
    <p class="jumbotron-text">This year's annual Community Project for District 5170 is "Circle of Love". Together, we will be raising 95,000 community service hours and recognize the importance our value and self-worth by expanding on the idea of service.</p>
    <h3 class="jumbotron-text">2016-17 International Project</h3>
    <p class="jumbotron-text">This year's annual International Project for District 5170 is "Me The Human". From November to May, we will embark on a journey to help Syrian Refugees rebuild their lives. Just like the way we will work our way through the year, we will work our way through the word REFUGEE. Each month will be focused on what each letter stands for and essentially it all ties back to what we’re doing for Syrian Refugees, how, and why.</p>
    <hr>
  </div>
</div>
