<div class="jumbotron">
  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Welcome!</h1>
    <p class="jumbotron-text">Come learn more about our club.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Take a look »</a></p>
  </div>

  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Club Updates:</h1>
    <h3 class="jumbotron-text">2017-18 Community Project</h3>
    <p class="jumbotron-text">This year's InterMunity Project, the "Right to Thrive" will be accomplished along with the Community Project Committee. Both groups will help raise $100,000 and contribute 75,000 service hours to help marginalized communities like those of Burkina Faso.</p>
    <h3 class="jumbotron-text">2017-18 International Project</h3>
    <p class="jumbotron-text">This year's annual International and Community Project for District 5170 is the "Right to Thrive". Together we will raise $100,000 and contribute 75,000 service hours to help marginalized communities like those of Burkina Faso. 
</p>
    <hr>
  </div>
</div>
