<div class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-text">Welcome!</h1>
    <p class="jumbotron-text">Come learn more about our club.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Take a look »</a></p>
  </div>

  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Club Updates:</h1>
    <h3 class="jumbotron-text">First Meeting</h3>
    <p class="jumbotron-text">Come join us at our first meeting on September 25th at lunch in the choir room (F111). Attendees will receive free pizza after the meeting!</p>
    <h3 class="jumbotron-text">Welcome BBQ Social</h3>
    <p class="jumbotron-text">Socialize and enjoy free food at our Welcome BBQ Social on October 9th from 3:05-5:00pm in the rally court. Interactors wearing Interact shirts will have first priorty when being served.</p>
    <h3 class="jumbotron-text">Fall Leadership Conference</h3>
    <p class="jumbotron-text">Learn about this year's Community and International Projects at the largest Interact event in the world. Located at Independence High School, the District 5170 Fall Leadership Conference will take place on October 11th from 8:30am-3:30pm, where you will attend serivce and leadership workshops and meet people from all over the district</p>
    <hr>
  </div>
</div>
