<div class="jumbotron">
  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Welcome!</h1>
    <p class="jumbotron-text">Come learn more about our club.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Take a look »</a></p>
  </div>

  <div class="container">
    <hr>
    <h1 class="jumbotron-text">Club Updates:</h1>
    <h3 class="jumbotron-text">2015-16 Community Project</h3>
    <p class="jumbotron-text">This year's annual Community Project for District 5170 is "Under One Roof." We will be raising 90,000 community service hours towards helping the homeless and welcoming them into the community rather than excluding them.</p>
    <h3 class="jumbotron-text">2015-16 International Project</h3>
    <p class="jumbotron-text">This year's annual International Project for District 5170 is "Hello, My Name is..." We will be raising $120,000 towards assisting child and adult victims of human sex and labor trafficking (modern day slavery) from countries like the Netherlands as well as right here in the Bay Area.</p>
    <hr>
  </div>
</div>
