<div class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-text">Welcome!</h1>
    <p class="jumbotron-text">Come learn more about our club.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Take a look »</a></p>
  </div>
</div>
