<div class="container">
  <h1>International Project Committee</h1><br>
  <p>The International Project Committee is in charge of the planning and hosting of Area 12 events to fundraise for the annual International Project by working closely with four other schools in the Area. Some events we have hosted in the past are International Night, a night of performances and food, and Wanderlust Dance,
    a charity dance for all highschools.</p><br>  
  <br><p>This year's International Project will be announced at the Fall Leadership Conference!</p><br>
<p>Visit our <a href="http://www.interact5170.org/me-the-human/">District page</a> for more information.</p>
</div>
