<div class="container">
  <h1>International Project Committee</h1><br>
  <p>The International Project Committee is in charge of the planning and hosting of Area 12 events to fundraise for the annual International Project by working closely with four other schools in the Area. Some events we have hosted in the past are International Night, a night of performances and food, and Wanderlust Dance,
    a charity dance for all highschools.</p><br>  
  <br><p>This year's InterMunity Project, the "Right to Thrive" will be accomplished along with the Community Project Committee. Both groups will help raise $100,000 and contribute 75,000 service hours to help marginalized communities like those of Burkina Faso. </p><br>
<p>Watch this <a href="https://www.youtube.com/watch?v=cPdyn8zTSTs&feature=youtu.be">video</a> for more information!</p>
</div>
