<div class="container">
  <h1>International Project Committee</h1><br>
  <p>The International Project Committee is in charge of the planning and hosting of Area 12 events to fundraise for the annual International Project by working closely with four other schools in the Area.
  Visit <a href="http://www.interact5170.org/hsh/">the district page</a> for more details.
  Some events we have hosted in the past are International Night, a night of performances and food, and Wanderlust Dance,
    a charity dance for all highschools.</p><br>
  <p> 
  Responsibilities include contacting restaurants to get food donations, meeting with IPC's from other schools to make
  decisions regarding International Night, selling tickets, etc.<br>
    This year our committee co-chairs are Kritika Sharma and Rupali Sujan.</p><br>
  <p>Visit our <a href="https://www.facebook.com/groups/150512414981446/">Facebook page</a> for more information.</p>
</div>