<div class="container">
  <h1>International Project Committee</h1><br>
  <p>The International Project Committee is in charge of the planning and hosting of Area 12 events to fundraise for the annual International Project by working closely with four other schools in the Area. Some events we have hosted in the past are International Night, a night of performances and food, and Wanderlust Dance,
    a charity dance for all highschools.</p><br>
  
  
<br><p>This year's annual International Project for District 5170 is "Me The Human". From November to May, we will embark on a journey to help Syrian Refugees rebuild their lives. Just like the way we will work our way through the year, we will work our way through the word REFUGEE. Each month will be focused on what each letter stands for and essentially it all ties back to what we’re doing for Syrian Refugees, how, and why. If we look towards ourselves and say, “Me The Human”, then look around to see others who are saying the same thing, we can recognize ourselves as a human and then others as humans too, bringing us together on a common ground.</p><br>
<p>Visit our <a href="http://www.interact5170.org/me-the-human/">District page</a> for more information.</p>
</div>