<div class="text_center">
  <h1>New Event:</h1>
  <form action="/events/create">
    <div>
      <label for="name">Name</label><br/>
      <input id="name" name="name" type="text" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="location">Location</label><br/>
      <input id="location" name="location" type="text" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="date">Date</label><br/>
      <input id="date" name="date" type="date" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="hours">Hours</label><br/>
      <input id="hours" name="hours" type="number" step="0.1" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="sign_ups">Sign-Ups</label><br/>
      <input id="sign_ups" name="sign_ups" type="number" step="1" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="maximum">Maximum</label><br/>
      <input id="maximum" name="maximum" type="number" step="1" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="time">Time</label><br/>
      <input id="time" name="time" type="text" aria-describedby="basic-addon1"/>
    </div>
    <div>
      <label for="completed">Completed?</label><br/>
      <input id="completed" name="completed" type="text" aria-describedby="basic-addon1" value="false"/>
    </div>
     <div>
       <label for="description">Description</label><br/>
      <input id="description" name="description" type="text" aria-describedby="basic-addon1"/>
    </div>
    <br>
    <input type = "submit"/>
  </form>
</div>