<div class="container">
  <h1>Officer Team</h1>
  <p>President: Kritika Sharma | Grade: 12</p>
  <p>Co-Vice President: Samhitha Tarra | Grade: 11</p>
  <p>Co-Vice President: Rupali Sujan | Grade: 11</p>
  <p>Secretary: Ashley Hau | Grade: 11</p>
  <p>Treasurer: Gokul Pillai | Grade: 11</p>
  <p>Community Project Committee Chair: Priyasha Agarwal | Grade: 10</p>
  <p>International Committee Co-Chair: Kashish Singal | Grade: 11</p>
  <p>International Committee Co-Chair: Anika Hegde | Grade: 11</p>
  <p>Webmaster: Swati Chayapathi | Grade: 11</p>
  <p>Co-Public Relations Officer/Jr. Interact President: Mahita Tatavarthy | Grade: 11</p>
  <p>Co-Public Relations Officer/Jr. Interact President: Trisha Anand | Grade: 11</p>
  <p>Events Coordinator: Joyce Shiah | Grade: 11</p>
</div>