<div class="container">
  <h1>Officer Team</h1>
  <p>President: Jimmy Li | Grade: 12</p>
  <p>Co-Vice President: Karen Tu | Grade: 12</p>
  <p>Co-Vice President: Vidhi Tibrewala | Grade: 12</p>
  <p>Secretary: Samhitha Tarra | Grade: 10</p>
  <p>Treasurer: Kashish Singal | Grade: 10</p>
  <p>Community Project Committee Chair: Joyce Shiah | Grade: 10</p>
  <p>International Committee Co-Chair: Kritika Sharma | Grade: 11</p>
  <p>International Committee Co-Chair: Rupali Sujan | Grade: 10</p>
  <p>Webmaster: Sophie Lian | Grade: 10</p>
  <p>Co-Public Relations Officer/Jr. Interact President: Anika Hegde | Grade: 10</p>
  <p>Co-Public Relations Officer/Jr. Interact President: Natalie The | Grade: 12</p>
  <p>Events Coordinator: Saagar Godithi | Grade: 11</p>
</div>
