<div class="container">
<div class="row">
      
        <div class="col-md-4">
          <div class="thumbnail"> 
          <h6 align = "center">Co-President: Samhitha Tarra (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/tsamhitha.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Co-vice President: Anika Hegde (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/hanika.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Internal Events Coordinator: Ellie Chen (10)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/cellie.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Public Relations/Jr. Interact President: Abhilasha Goel (11)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/gabhilasha.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">International Project Chair: Priyasha Agarwal (11)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/apriyasha.png">
          </div>
        </div>
        
        <div class="col-md-4"> 
          <div class="thumbnail"> 
          <h6 align = "center">Co-President: Rupali Sujan (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/srupali.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Secretary: Jenny Chen (10)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/cjenny.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">External Events Coordinator: Joyce Shiah (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/sjoyce.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Community Project Chair: Mahita Tatavarthy (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/tmahita.png">
          </div>
          <div class = "thumbnail">
          <h6 align = "center">International Project Chair: Nandini Sarkar (11)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/snandini.png">
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="thumbnail"> 
          <h6 align = "center">Co-vice President: Kashish Singal (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/skashish.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Treasurer: Gokul Pillai (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/pgokul.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Public Relations/Jr. Interact President: Ashley Hau (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/hashley.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Community Project Chair: Ria Ramani (11)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/rria.png">
          </div>
          <div class="thumbnail"> 
          <h6 align = "center">Webmaster: Ryan Miranda (12)</h6>
            <img width="230" height="615" src="https://raw.githubusercontent.com/jimmyli17/monta_vista_interact/master/app/views/pages/mryan.png">
          </div>
        </div>
      
    </div>
    </div>
